# Currently no source or variable support in hyprpaper config, so making the config via wal templating

# Remove splash text at bottom of the screen
splash = false

# Preload 1-n Wallpapers
preload = {wallpaper}

# Set wallpaper(s)
# Currently setting wallpaper on all screens
wallpaper {{
    monitor =
    path = {wallpaper}
    fit_mode = cover
}}

